* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    text-align: center;
    min-height: 100vh;
    color: #fff;

    background-image:
        linear-gradient(120deg, #2d74b3ea 0%, #08312a42 30%, #0f3a2e42 50%, #bd620273 78%, #2b1206 100%),
        url("../img/wallpaper.jpg");

    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    margin-top: 2%;
}

#mapPool {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    margin: 10px auto;
    max-width: 1200px;
    padding: 30px;
}

.map-card {
    flex: 1 1 clamp(150px, 22vw, 240px);
    cursor: pointer;
    transition: transform 0.2s;
    border: 2px solid transparent;
    border-radius: 10px;
    overflow: hidden;
    backdrop-filter: blur(50px);
    -webkit-backdrop-filter: blur(50px);
    max-width: 460px;
}

.map-card.picked {
    animation: pickAnim 1.2s infinite ease-in-out;
}

.map-card.waiting {
    animation: mapwait 1.2s infinite ease-in-out;
}

.map-card.banned {
    cursor: not-allowed;
    position: relative;
    animation: banAnim 1.2s infinite ease-in-out;
}

.map-card.banned img {
    opacity: 0.4;
    filter: grayscale(100%);
}

.map-card.banned::after {
    content: "BANIDO";
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(255, 0, 0, 0.8);
    color: #fff;
    padding: 5px 10px;
    font-weight: bold;
    border-radius: 4px;
}

.map-card:hover {
    transform: scale(1.05);
}

.map-card img {
    width: 100%;
    height: clamp(50px, 22vw, 120px);
    object-fit: cover;
}

.map-name {
    padding: 12px;
    font-size: clamp(14px, 2vw, 18px);
    backdrop-filter: blur(50px);
    -webkit-backdrop-filter: blur(50px);
}

#status {
    font-size: 20px;
    margin-top: 20px;
}

.picked-name {
    font-weight: bold;
    color: #00ff66;
}

.map-card.disabled {
    cursor: not-allowed;
    position: relative;
    border: 2px solid gray;
    animation: none;
}

.map-card.disabled img {
    opacity: 0.3;
    filter: grayscale(100%);
}

.map-card.disabled::after {
    content: "INDISPONÍVEL";
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(128, 128, 128, 0.85);
    color: #fff;
    padding: 5px 12px;
    font-weight: bold;
    border-radius: 4px;
    font-size: 14px;
}

@keyframes mapwait {
    0% {
        border-color: #ffdd00;
        box-shadow: 0 0 5px #ffdd00;
    }

    50% {
        border-color: #867400;
        box-shadow: 0 0 15px #867400;
    }

    100% {
        border-color: #ffdd00;
        box-shadow: 0 0 5px #ffdd00;
    }
}

@keyframes banAnim {
    0% {
        border-color: red;
        box-shadow: 0 0 5px red;
    }

    50% {
        border-color: darkred;
        box-shadow: 0 0 15px darkred;
    }

    100% {
        border-color: red;
        box-shadow: 0 0 5px red;
    }
}

@keyframes pickAnim {
    0% {
        border-color: #00ff66;
        box-shadow: 0 0 5px #00ff66;
    }

    50% {
        border-color: #006633;
        box-shadow: 0 0 15px #006633;
    }

    100% {
        border-color: #00ff66;
        box-shadow: 0 0 5px #00ff66;
    }
}

/* -------- Responsividade -------- */
@media (max-width: 900px) {
    #mapPool {
        grid-template-columns: repeat(2, 1fr);
    }

    .map-card.picked {
        border-color: #00ff66;
        box-shadow: 0 0 5px #00ff66;
    }

    .map-card.waiting {
        border-color: #ffdd00;
        box-shadow: 0 0 5px #ffdd00;
    }

    .map-card.banned {
        border-color: red;
        box-shadow: 0 0 5px red;
    }
}

@media (max-width: 500px) {
    .map-card.picked {
        animation: none;
        border-color: #00ff66;
        box-shadow: 0 0 5px #00ff66;
    }

    .map-card.waiting {
        animation: none;
        border-color: #ffdd00;
        box-shadow: 0 0 5px #ffdd00;
    }

    .map-card.banned {
        animation: none;
        border-color: red;
        box-shadow: 0 0 5px red;
    }

    body {
        background-image:
            linear-gradient(120deg, #2d74b3ea 0%, #08312a42 30%, #0f3a2e42 50%, #bd620273 78%, #2b1206 100%),
            url("../img/wallpaper celular.jpg");

        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
}